.profile-aboutPage.profile
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padded-padding * 2;

  .profile
  {
    &-image
    {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-name
    {
      margin: $spaced-margin 0;
      font-weight: $font-weight-semibold;
      text-align: center;
    }

    &-position
    {
      text-align: center;
    }
  }
}
