.navbar
{
  font-size: 20px;
  border-bottom: lightgray solid 0.1vmin;

  @include desktop
  {
    margin-top: $spaced-margin * 2.5;
  }

  &-item
  {
    font-family: $font-family-primary;
  }

  &-brand
  {
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
  }
}
