.products-projectsPage.products
{
  .product
  {
    padding: $padded-padding * 10 $padded-padding * 2;
    max-width: 700px;
    margin: auto;
    object-fit: cover;
    background-position: center center;

    &-title
    {
      @extend .Heading;
      @extend .Heading--h2;

      text-align: center;
      color: white;
    }

    &-description
    {
      text-align: center;
      color: white;
    }
  }
}
