.promo-homePage.promo
{
  .promo
  {
    &-title
    {
      @extend .Heading;
      @extend .Heading--h1;
    }

    &-description
    {
      white-space: pre-line;
    }

    &-button
    {
      @extend .Button;
      @extend .Button--inverted;
    }

    &-content
    {
      max-width: 600px;
      padding: 0 $padded-padding * 2;
    }
  }
}
