.about-berkeleyTime.about
{
  .about
  {
    &-title
    {
      @extend .Heading;
      @extend .Heading--h1;
    }

    &-description
    {
      white-space: pre-line;

      margin-bottom: $spaced-margin * 2;
    }

    &-linkWrapper
    {
      display: flex;
      justify-content: center;
    }

    &-button
    {
      @extend .Button;
      @extend .Button--inverted;
      font-size: 20pt;
    }
  }
}
